<h1>Rank</h1>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Requirement</th>
            <th>Requirement Description</th>
        </tr>
    </thead>
    <tbody>
        <tr #row0>
            <td>ID</td>
            <td>
                Actual description

                <div class="container">

                    <div class="row">
                        <div class="col" *ngFor="let scout of apiInfo.scouts">
                            <input
                              (click)="toggleRequirementCompletion(scout)"
                              type="button"
                              class="btn btn-success"
                              [ngClass]="scout.complete ? 'btn-success' : 'btn-info'"
                              [value]="scout.name"
                            />
                        </div>
                    </div>

                </div>
            </td>
            <td class="hide-from-print">
                <button>Submit</button>
                <button (click)="togglePrintDisplay(row0)">Hide from print</button>
            </td>
        </tr>
    </tbody>
</table>

