@media print {

    input[type=button] {
        background-color: transparent;
        color: black;
        padding: 0;
        border: none;
    }

    .hide-from-print {
        display: none;
    }
}

.hide-from-print {
    opacity: 0.5;
}
